{% extends 'base.html' %}
{% block content %}

    <div class="container text-center my-5">
        <h1 class="display-4 fw-bold text-primary">
            Welcome to {{ restaurant_name}}!
        </h1>
        <p class="lead text-muted mb-4">
            Enjoy the Best Dining Experience in City
        </p>
        

        <div style="margin-top:30px">
            <a href="{% url 'about'%}" class="btn btn-lg btn-success px-4 py-2 shadow">
                Learn More About Us
            </a>
        </div>
    </div>
{% endblock %}  